<div class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(/views/templates/images/store.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay" style="opacity:0 !important"></div>
    <div class="js-fullheight d-flex justify-content-center align-items-center">
        <div class="col-md-8 text text-center">
            <div class="img mb-4" style="background-image: url(/views/templates/images/author.jpg);"></div>
            <div class="desc">
              
                <h1 class="mb-4" style="color:white;">{{User.Username}} {{User.UserSurName}}</h1>
        
                <div class="form-group">
                    <input type="submit" value="Çıkış Yap" class="btn btn-primary py-3 px-5">
                </div>
            </div>
        </div>
    </div>
</div>
